.kana {
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.groupInput {
    margin-top: 16px;
    margin-bottom: 16px;
}

.checkInput {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
}

.checkInput input {
    margin-right: 16px;
}

.conceptContent {
    min-height: 200px;
    border: 4px solid var(--primary-color);
    border-radius: 12px;
    padding: 12px;
}

.conceptContent p {
    font-size: 2rem;
    text-align: justify;
    text-indent: 20px;
}

.btnSub {
    max-width: 200px;
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    padding: 0 !important;
}

.btnSub p {
    font-family: 'm5x7';
    font-size: 1.6rem;
}

@media screen and (max-width: 600px){
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}