.groupInput {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-size: 28px;
    margin: 8px;
}

.groupInput p {
    font-size: 28px;
    width: 140px;
}

.groupInput input,
.groupInput input:focus-visible  {
    flex: 1;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    outline: none;
}

.groupInput input[type="text"] {
    font-family: "m5x7";
}